// Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Importar google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Vidaloka&display=swap');
// iconos boostrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

//variables
// colores
$bgClaro: #FDFAF7;
$colorCafe: #B39359;
$colorVerde: #8C8A65;
$colorVerdeoscuro: #35362B;
$base-path: "../assets";

//tipografías
$titulosFont: "Outfit", sans-serif;
$titulosSerif: "Vidaloka", serif;
$cuerpoFont: "Inter", sans-serif;

//Tamaños fonts
$tamanoTitulo: 3.3rem;
$tamanoSubtitulo: 2.4rem;
$tamanoh3: 1.4rem;
$tamanoGeneral: 1rem;
$tamanoSmall: 0.9rem;

// Espaciado

$espaciadoSeccion: 40px 0;

// Extend

%boton-estructura {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

//mixin

@mixin botones($bgColor, $txtColor) {
    background: $bgColor;
    color: $txtColor;
    text-decoration: none;
}


@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

body {
    font-family: $cuerpoFont;
    font-size: 62.5%;
}

h1 {
    font-weight: 900;
    font-size: $tamanoTitulo;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    font-size: $tamanoSubtitulo;
}

p,
li,
a {
    font-size: $tamanoGeneral;
}

.contenedor {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}


header {

    a.navbar-brand {
        display: block;
        position: relative;

        img {
            max-width: 215px;
        }

        span {
            position: absolute;
            text-indent: -9999px;
        }

    }

    .navbar-nav {
        a {
            text-decoration: none;
            color: $colorVerde;
            padding: 0 15px;
            font-weight: 500;
            font-family: $titulosFont;

            &:hover {
                color: $colorVerdeoscuro;
            }

        }

        .active {
            color: $colorVerdeoscuro;
        }
    }
}

footer {
    background-color: $colorVerdeoscuro;
    padding: $espaciadoSeccion;

    img {
        max-height: 80px;
        margin-bottom: 10px;
    }

    p {
        color: $colorVerde;
        font-size: $tamanoSmall;
        margin-bottom: 0;
    }

    h3 {
        color: $bgClaro;
        text-align: left;
        font-size: $tamanoh3;
        font-family: $titulosFont;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: left;

        li {
            list-style-type: none;
        }
    }

    a {
        color: $colorVerde;
        text-decoration: none;
        font-size: $tamanoSmall;
    }

    .social {

        i {
            height: 30px;
        }
    }

    .pie {
        padding: 15px 0;
        margin-top: 40px;
        text-align: center;
        background: $colorVerde;

        p {
            color: $colorVerdeoscuro;
            font-size: $tamanoSmall;
            font-weight: 500;
        }
    }
}

.hero-slide {
    background: $bgClaro;
}

.textoSlide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 35%;

    h2 {
        font-family: $titulosSerif;
        font-size: $tamanoTitulo;
        color: $colorVerdeoscuro;
    }

    .button-link {
        font-size: $tamanoGeneral;
        @extend %boton-estructura;
        @include botones($colorCafe, $bgClaro);
    }
}

.carousel-item .contenedor:after {
    content: '';
    position: absolute;
    width: 200px;
    height: stretch;
    background: #FDFAF7;
    background: linear-gradient(270deg, rgba(253, 250, 247, 1) 0%, rgba(255, 255, 255, 0) 100%);
    right: 0px;
    top: 0;
}

section.productos {
    padding: $espaciadoSeccion;
    text-align: center;

    h3 {
        font-size: $titulosFont;
        font-weight: bolder;
        color: $colorVerdeoscuro;
        margin-bottom: 15px;
    }

    .button-link {
        font-size: $tamanoGeneral;
        @extend %boton-estructura;
        @include botones($colorCafe, $bgClaro);
    }
}


.columnas-productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    .col {
        align-content: stretch;
        flex: 0 0 calc(25% - 37.5px);
        box-sizing: border-box;

        img {
            max-width: 100%;
            transition: transform .5s;

            &:hover{
                transform: scale(1.1);
            }
        }

        h4 {
            font-family: $titulosSerif;
            margin-top: 15px;
        }
    }
}


section.hero-small {
    background-image: url("#{$base-path}/fondo-hero.webp");
    background-position: center;
    padding: $espaciadoSeccion;

    h2 {
        text-align: center;
        font-family: $titulosSerif;
        font-size: $tamanoTitulo;
        color: $colorVerdeoscuro;
    }

    p {
        text-align: center;
        max-width: 620px;
        margin: 0 auto;
    }
}

section.page-blog {
    padding: 80px 0;
    background: $bgClaro;

    .contenedor {
        display: flex;

        .blog {
            max-width: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        aside {
            max-width: 20%;
            width: 100%;
        }
    }
}

article {
    align-content: stretch;
    flex: 0 0 calc(34% - 37.5px);
    box-sizing: border-box;
    border: 1px solid $bgClaro;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;

    img {
        max-width: 100%;
        margin-bottom: 15px;
    }

    h3 {
        font-size: $tamanoGeneral;
        padding: 0 15px;
        font-weight: bolder;
    }

    p {
        font-size: $tamanoSmall;
        line-height: normal;
        padding: 0 15px;
    }

    a.button-link {
        font-size: $tamanoSmall;
        @extend %boton-estructura;
        @include botones($colorVerde, $bgClaro);
        margin: 0 15px 15px;
    }
}

aside {
    h4 {
        font-family: $titulosSerif;
    }

    .post {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        figure {
            max-width: 80px;
            height: 80px;
            overflow: hidden;

            img {
                width: fit-content;
                height: 100%;
            }
        }

        .titlePost {
            max-width: 65%;

            h3 {
                font-size: $tamanoSmall;
            }

            a.button-link {
                font-size: .8rem;
                text-decoration: none;
                color: $colorCafe;
            }
        }
    }
}

//historia
.page-interior {
    .hero-slide {
        img {
            max-height: 500px;
        }
    }

    section {
        padding: 60px 0;
    }

    .contenedor {
        @include flex(space-between, center);
        gap: 50px;

        span.destacado {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        h3 {
            font-family: $titulosSerif;
            font-size: $tamanoSubtitulo;
            color: $colorVerdeoscuro;
        }

        p {
            font-size: $tamanoSmall;
        }
    }

    .colpage {
        max-width: 50%;
        width: 100%;
    }
}

.lineaTiempo {
    background: $colorVerdeoscuro;
    color: $bgClaro;

    .contenedor {
        flex-direction: column;
        text-align: center;
        max-width: 1080px;

        h3 {
            color: $bgClaro;
            max-width: 350px;

            span {
                color: $colorCafe;
            }
        }

    }

    .storytime {
        display: flex;
        gap: 30px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 80%;
            height: 2px;
            border: 1px dashed;
            top: 40px;
            left: 0;
            right: 0;
            margin: auto;
        }

        .col {
            z-index: 1;
        }

        i.bi {
            font-size: 30px;
            border: 2px solid;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            padding: 20px;
            background: $colorVerdeoscuro;
            @include flex(center, center);
            border-radius: 50%;
            margin-bottom: 15px;
        }

        h4 {
            font-family: $titulosFont;
            font-weight: 300;
            color: $colorCafe;
        }
    }
}

.colorClaro {
    background-color: $bgClaro;
}

.reves {
    .textoSlide {
        right: 0;
        text-align: center;
    }

    .contenedor {
        flex-direction: row-reverse;
        &:after {
                display: none;
            }

        h4{
            font-weight: 500;
            font-size: $tamanoGeneral;
            margin-bottom: 20px;
        }

        .accordion{
            .accordion-button{
            padding: 15px 10px 15px 20px;
            font-size: $tamanoSmall;
            &:not(.collapsed){
                background:$colorVerde;
                color: $bgClaro;
            }
            &:focus{
                box-shadow:0 0 0 0.25rem $colorVerde;
            }
            }
        }

    }

}

    .hero-slide .contenedor {
            flex-direction: row;

    }

    section.lineaTiempo .contenedor {
            flex-direction: column;

    }