@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;


//historia y beneficios
.page-interior {
    .hero-slide {
        img {
            max-height: 500px;

            @include tablet {
                height: 300px;
            }

            @include movil {
                margin: 0 auto;
            }
        }
    }

    section {
        padding: 60px 0;
    }

    .contenedor {
        @include flex(space-between, center);
        gap: 50px;

        span.destacado {
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
            font-size: $tamanoSpan;
        }

        p {
            font-size: $tamanoSmall;
        }

        @include movil {
            flex-direction: column;
        }
    }

    .colpage {
        max-width: 50%;
        width: 100%;

        img {
            max-width: 100%;
            display: block;

            @include movil {
                margin: 0 auto;
            }
        }

        @include movil {
            max-width: 100%;
        }
    }
}

.reves {
    .textoSlide {
        right: 0;
        text-align: center;       
    }

    .contenedor {
        flex-direction: row-reverse;

        &:after {
            display: none;
        }

        h3.beneficios {
            font-weight: 500;
            font-size: $tamanoh4;
            font-family: $cuerpoFont;
            color: $colorVerdeoscuro;
            margin-bottom: 20px;
        }

        @include movil {
            flex-direction: column-reverse;
            text-align: center;
        }

    }

}

.hero-slide .contenedor {
    flex-direction: row;
    @include movil {
        flex-direction: column;
    }

}

section.lineaTiempo .contenedor {
    flex-direction: column;

}