//variables
// colores
$bgClaro: #FDFAF7;
$colorCafe: #B39359;
$colorVerde: #8C8A65;
$colorVerdeoscuro: #35362B;
$base-path: "../assets";

//tipografías
$titulosFont: "Outfit", sans-serif;
$titulosSerif: "Vidaloka", serif;
$cuerpoFont: "Inter", sans-serif;

//Tamaños fonts
$tamanoTitulo: 3.3rem;
$tamanoSubtitulo: 2.4rem;
$tamanoh3: 1.4rem;
$tamanoGeneral: 1rem;
$tamanoSmall: 0.9rem;

// Espaciado

$espaciadoSeccion: 40px 0;
