//variables
// colores
$bgClaro: #FDFAF7;
$colorCafe: #B39359;
$colorVerde: #8C8A65;
$colorVerdeoscuro: #35362B;
$base-path: "../assets";

//tipografías
$titulosFont: "Outfit", sans-serif;
$titulosSerif: "Vidaloka", serif;
$cuerpoFont: "Inter", sans-serif;

//Tamaños fonts
$tamanoTitulo: 4.5rem;
$tamanoSubtitulo: 3.4rem;
$tamanoh3: 2.2rem;
$tamanoh4: 1.8rem;
$tamanoGeneral: 1.6rem;
$tamanoSmall: 1.4rem;
$tamanoSpan: 1.1rem;

// Espaciado

$espaciadoSeccion: 60px 0;