@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
    background-color: $colorVerdeoscuro;
    padding: $espaciadoSeccion 0;

    .row {
            .col {
                @include movil {
                flex: none;
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    img {
        max-height: 80px;
        margin-bottom: 10px;
    }

    p {
        color: $colorVerde;
        font-size: $tamanoSmall;
        margin-bottom: 0;
    }

    h3 {
        color: $bgClaro;
        text-align: left;
        font-size: $tamanoh3;
        font-family: $titulosFont;
        @include movil {
            text-align: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: left;

        li {
            list-style-type: none;
            @include movil {
                text-align: center;
            }
        }
    }

    a {
        color: $colorVerde;
        text-decoration: none;
        font-size: $tamanoSmall;
    }

    .social {

        i {
            height: 30px;
        }

        .d-flex{
            @include movil {
                justify-content: center;
            }
        }
    }

    .pie {
        padding: 15px 0;
        margin-top: 40px;
        text-align: center;
        background: $colorVerde;

        p {
            color: $colorVerdeoscuro;
            font-size: $tamanoSmall;
            font-weight: 500;
        }
    }
}