@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

aside {
    max-width: 20%;
    width: 100%;

    @include tablet {
        max-width: 100%;
        margin-top: 50px;
        background: #FFF;
        margin-top: 50px;
        background: #ffffff;
        padding: 20px;
        border-radius: 20px;
    }

    h4 {
        font-family: $titulosSerif;
        font-size: $tamanoh4;
        margin-bottom: 20px;
    }

    .last-post {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .post {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        figure {
            flex: 0 0 80px;
            max-width: 80px;
            height: 80px;
            overflow: hidden;
            margin: 0;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .titlePost {
            max-width: 65%;

            h3 {
                font-size: $tamanoSmall;
                margin: 0;
            }

            a.button-link {
                font-size: $tamanoSpan;
                text-decoration: none;
                color: $colorCafe;
            }
        }
    }
}