@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/placeholders' as *;

.hero-slide {
    background: $bgClaro;

    .carousel-control-prev {
        @include tablet {
            display: none;
        }
    }


    .carousel-control-next {
        @include tablet {
            display: none;
        }
    }

}

.textoSlide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 450px;

    @include tablet {
        max-width: 360px;
    }

    h2 {
        font-family: $titulosSerif;
        font-size: $tamanoTitulo;
        color: $colorVerdeoscuro;

        @include tablet {
            font-size: $tamanoSubtitulo;
        }
    }

    .button-link {
        font-size: $tamanoGeneral;
        @extend %boton-estructura;
        @include botones($colorCafe, $bgClaro);
        transition: background-color 0.5s ease;

        @include tablet {
            font-size: $tamanoSmall;
        }

        &:hover {
            background-color: $colorVerde;
        }
    }

    @include movil {
        position: relative;
        top: 0;
        transform: none;
        margin: 30px auto 0;
        text-align: center;
    }
}

.carousel-item {
    img {

        max-height: 430px;

        @include tablet {
            height: 300px;
        }

        @include movil {
            margin: 0 auto;
        }
    }
}

.carousel-item .contenedor:after {
    content: '';
    position: absolute;
    width: 200px;
    height: stretch;
    background: #FDFAF7;
    background: linear-gradient(270deg, rgba(253, 250, 247, 1) 0%, rgba(255, 255, 255, 0) 100%);
    right: 0px;
    top: 0;

    @include movil {
        display: none;
    }
}