@use '../utilities/variables' as *;

body {
    font-family: $cuerpoFont;
    font-size: $tamanoGeneral;
}

h1 {
    font-weight: 900;
    font-size: $tamanoTitulo;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    font-size: $tamanoSubtitulo;
}

h3 {
    font-family: $titulosSerif;
    font-size: $tamanoSubtitulo;
    color: $colorVerdeoscuro;
}

p,
li,
a {
    font-size: $tamanoGeneral;
}