@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

body {
    font-family: $cuerpoFont;
    font-size: $tamanoGeneral;
    @include tablet {
            font-size: $tamanoSmall;
    }
}

h1 {
    font-weight: 900;
    font-size: $tamanoTitulo;
    margin-bottom: 0;
}

h2 {
    font-weight: 500;
    font-size: $tamanoSubtitulo;
}

h3 {
    font-family: $titulosSerif;
    font-size: $tamanoSubtitulo;
    color: $colorVerdeoscuro;
    @include tablet {
            font-size: $tamanoh3;
    }
}

p,
li,
a {
    font-size: $tamanoGeneral;
    @include tablet {
            font-size: $tamanoSmall;
    }
}