@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Vidaloka&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article a.button-link, section.productos .button-link, .textoSlide .button-link {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

h1 {
  font-weight: 900;
  font-size: 3.3rem;
  margin-bottom: 0;
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
}

p,
li,
a {
  font-size: 1rem;
}

.contenedor {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

header a.navbar-brand {
  display: block;
  position: relative;
}
header a.navbar-brand img {
  max-width: 215px;
}
header a.navbar-brand span {
  position: absolute;
  text-indent: -9999px;
}
header .navbar-nav a {
  text-decoration: none;
  color: #8C8A65;
  padding: 0 15px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}
header .navbar-nav a:hover {
  color: #35362B;
}
header .navbar-nav .active {
  color: #35362B;
}

footer {
  background-color: #35362B;
  padding: 40px 0;
}
footer img {
  max-height: 80px;
  margin-bottom: 10px;
}
footer p {
  color: #8C8A65;
  font-size: 0.9rem;
  margin-bottom: 0;
}
footer h3 {
  color: #FDFAF7;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Outfit", sans-serif;
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
footer ul li {
  list-style-type: none;
}
footer a {
  color: #8C8A65;
  text-decoration: none;
  font-size: 0.9rem;
}
footer .social i {
  height: 30px;
}
footer .pie {
  padding: 15px 0;
  margin-top: 40px;
  text-align: center;
  background: #8C8A65;
}
footer .pie p {
  color: #35362B;
  font-size: 0.9rem;
  font-weight: 500;
}

.hero-slide {
  background: #FDFAF7;
}

.textoSlide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 35%;
}
.textoSlide h2 {
  font-family: "Vidaloka", serif;
  font-size: 3.3rem;
  color: #35362B;
}
.textoSlide .button-link {
  font-size: 1rem;
  background: #B39359;
  color: #FDFAF7;
  text-decoration: none;
}

.carousel-item .contenedor:after {
  content: "";
  position: absolute;
  width: 200px;
  height: stretch;
  background: #FDFAF7;
  background: linear-gradient(270deg, rgb(253, 250, 247) 0%, rgba(255, 255, 255, 0) 100%);
  right: 0px;
  top: 0;
}

section.productos {
  padding: 40px 0;
  text-align: center;
}
section.productos h3 {
  font-size: "Outfit", sans-serif;
  font-weight: bolder;
  color: #35362B;
  margin-bottom: 15px;
}
section.productos .button-link {
  font-size: 1rem;
  background: #B39359;
  color: #FDFAF7;
  text-decoration: none;
}

.columnas-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.columnas-productos .col {
  align-content: stretch;
  flex: 0 0 calc(25% - 37.5px);
  box-sizing: border-box;
}
.columnas-productos .col img {
  max-width: 100%;
  transition: transform 0.5s;
}
.columnas-productos .col img:hover {
  transform: scale(1.1);
}
.columnas-productos .col h4 {
  font-family: "Vidaloka", serif;
  margin-top: 15px;
}

section.hero-small {
  background-image: url("../assets/fondo-hero.webp");
  background-position: center;
  padding: 40px 0;
}
section.hero-small h2 {
  text-align: center;
  font-family: "Vidaloka", serif;
  font-size: 3.3rem;
  color: #35362B;
}
section.hero-small p {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
}

section.page-blog {
  padding: 80px 0;
  background: #FDFAF7;
}
section.page-blog .contenedor {
  display: flex;
}
section.page-blog .contenedor .blog {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
section.page-blog .contenedor aside {
  max-width: 20%;
  width: 100%;
}

article {
  align-content: stretch;
  flex: 0 0 calc(34% - 37.5px);
  box-sizing: border-box;
  border: 1px solid #FDFAF7;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
}
article img {
  max-width: 100%;
  margin-bottom: 15px;
}
article h3 {
  font-size: 1rem;
  padding: 0 15px;
  font-weight: bolder;
}
article p {
  font-size: 0.9rem;
  line-height: normal;
  padding: 0 15px;
}
article a.button-link {
  font-size: 0.9rem;
  background: #8C8A65;
  color: #FDFAF7;
  text-decoration: none;
  margin: 0 15px 15px;
}

aside h4 {
  font-family: "Vidaloka", serif;
}
aside .post {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
aside .post figure {
  max-width: 80px;
  height: 80px;
  overflow: hidden;
}
aside .post figure img {
  width: fit-content;
  height: 100%;
}
aside .post .titlePost {
  max-width: 65%;
}
aside .post .titlePost h3 {
  font-size: 0.9rem;
}
aside .post .titlePost a.button-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #B39359;
}

.page-interior .hero-slide img {
  max-height: 500px;
}
.page-interior section {
  padding: 60px 0;
}
.page-interior .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.page-interior .contenedor span.destacado {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.page-interior .contenedor h3 {
  font-family: "Vidaloka", serif;
  font-size: 2.4rem;
  color: #35362B;
}
.page-interior .contenedor p {
  font-size: 0.9rem;
}
.page-interior .colpage {
  max-width: 50%;
  width: 100%;
}

.lineaTiempo {
  background: #35362B;
  color: #FDFAF7;
}
.lineaTiempo .contenedor {
  flex-direction: column;
  text-align: center;
  max-width: 1080px;
}
.lineaTiempo .contenedor h3 {
  color: #FDFAF7;
  max-width: 350px;
}
.lineaTiempo .contenedor h3 span {
  color: #B39359;
}
.lineaTiempo .storytime {
  display: flex;
  gap: 30px;
  position: relative;
}
.lineaTiempo .storytime:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  border: 1px dashed;
  top: 40px;
  left: 0;
  right: 0;
  margin: auto;
}
.lineaTiempo .storytime .col {
  z-index: 1;
}
.lineaTiempo .storytime i.bi {
  font-size: 30px;
  border: 2px solid;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 20px;
  background: #35362B;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 15px;
}
.lineaTiempo .storytime h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #B39359;
}

.colorClaro {
  background-color: #FDFAF7;
}

.reves .textoSlide {
  right: 0;
  text-align: center;
}
.reves .contenedor {
  flex-direction: row-reverse;
}
.reves .contenedor:after {
  display: none;
}
.reves .contenedor h4 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
}
.reves .contenedor .accordion .accordion-button {
  padding: 15px 10px 15px 20px;
  font-size: 0.9rem;
}
.reves .contenedor .accordion .accordion-button:not(.collapsed) {
  background: #8C8A65;
  color: #FDFAF7;
}
.reves .contenedor .accordion .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #8C8A65;
}

.hero-slide .contenedor {
  flex-direction: row;
}

section.lineaTiempo .contenedor {
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
